1. What are data structures, and why are they important?
- Data structures are a way of efficiently arranging and storing information on a computer. They are essential for programmers because they enable efficient data management and manipulation, which improves performance and makes code maintenance simpler.

2.  Explain the difference between mutable and immutable data types with examples?
-In programming, mutable data types can be modified after they are created, while immutable data types cannot. Lists, dictionaries, and sets are mutable, whereas strings and tuples are immutable. This means you can change the elements within a mutable object, but with immutable objects, any modification results in a new object being created.
Example:
Mutable Data Types:List, Dictionaries, Sets
Immutable Data Types:Strings, Tuples.

3. What are the main differences between lists and tuples in Python?
-Both lists and tuples can hold collections of data in Python, but they differ in terms of memory usage, performance, and mutability. Tuples are immutable, but lists are mutable, enabling changes. Depending on whether you need to change the data or give performance and memory efficiency priority, you can choose between them.

4. Describe how dictionaries store dataP
- With dictionaries, data is stored in a key:value format.

5. Why might you use a set instead of a list in Python?
-- A Python set is preferred over a list in scenarios where:
Uniqueness of Elements is Required
Order of Elements is Not Important
Mathematical Set Operations are Needed

6. What is a string in Python, and how is it different from a list?
-A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

7. How do tuples ensure data integrity in Python?
-Python tuples' immutability is the main way they guarantee data integrity. Because of this feature, a tuple's contents cannot be altered, added to, or removed once it has been created. Data integrity is strongly guaranteed by its immutability.

8. What is a hash table, and how does it relate to dictionaries in Python?
--Python dictionaries and hash tables are related in that the latter is a high-level abstraction that is based on the former. When you use Python dictionaries, Python manages the hashing, collision resolution, and storage details behind the scenes, so you don't have to deal with the underlying hash table implementation directly. As a result, developers can map keys to values using a practical and effective data structure without having to deal with the hassles of implementing hash tables.

9.Can lists contain different data types in Python?
--It is possible for lists in Python to include elements of several data kinds. Python lists include this important characteristic, which makes them incredibly flexible.

10. Explain why strings are immutable in Python?
-- Python strings are immutable, which means that once they are formed, their contents cannot be altered. Any operation that appears to modify a string, such as concatenation or replacement, actually results in the creation of a new string object, while the original string remains unchanged.

11. What advantages do dictionaries offer over lists for certain tasks?
--Lists are best suited for sequential processing, sorted collections, and straightforward data storage, but dictionaries perform best in situations demanding quick lookups, key-value connections, and intricate data mappings.

12. Describe a scenario where using a tuple would be preferable over a list?
--The tuples are unchangeable. As a result, their main purpose is to store data that isn't updated often. If you do not want data to change, you can save it in a tuple using any operation. Use tuples if you want the information in your collection to be read-only, unchangeable, and consistent at all times.

13. How do sets handle duplicate values in Python?
--Python set objects are designed to store only unique elements. This means that when duplicate values are added to a set, they are automatically ignored and only one instance of the value is stored. Sets inherently enforce uniqueness.

14. How does the “in” keyword work differently for lists and dictionaries?
--The dictionary checks on keys are currently in action. The dictionary's execution time is almost the same as that of sets, and both the key and the set are unique values. Dictionary values, however, can be copied, much like a list.

15. Can you modify the elements of a tuple? Explain why or why not?
--No, Python does not allow you to directly alter a tuple's elements. Since tuples are immutable, their contents cannot be altered once they are created. One of the fundamental properties of tuples is their immutability.

16. What is a nested dictionary, and give an example of its use case?
--A dictionary that has at least one value that is also a dictionary is called a nested dictionary. It is a method of using a dictionary structure to represent structured or hierarchical data. This enables effective organization and retrieval of complex knowledge.

17. Describe the time complexity of accessing elements in a dictionary?
--No matter the size of the dictionary, accessing its elements (also called a hash map or associative array) usually takes the same amount of time, with an average temporal complexity of O(1). This is due to the fact that dictionaries store and retrieve data internally using hash tables, and hash table lookups are typically quite quick.

18. In what situations are lists preferred over dictionaries?
--Dictionaries for fast configurations, caches, or data lookups. Lists are better suited for sequence operations and ordered collections, like keeping a stack or queue.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
--Dictionary data structures are significant value structures that are optimized for quick storage and key-based recovery. This is why dictionaries are an unordered collection. Simply put, Python dictionaries are not meant to be in order, which is why they are un-ordered.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
---Lists are retrieved using an index, whereas dictionaries are retrieved using a key. This means that in a dictionary, you use the associated key to find the corresponding value, whereas in a list, you use the element's integer position (beginning at 0) to retrieve it.

In [1]:
# 1.Write a code to create a string with your name and print it?
name = "Rohit"
print(name)

Rohit

In [2]:
#2. Write a code to find the length of the string "Hello World"?
string = "hello world"
length = len(string)
print(length)

11

In [3]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming"
original_string = "Python Programming"
sliced_string = original_string[:3]
print(sliced_string)

Pyt

In [4]:
# 4.Write a code to convert the string "hello" to uppercase
original_string = "hello"
uppercase_string = original_string.upper()
print(uppercase_string)

HELLO

In [6]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
s1 = s.replace("apple", "orange")

print(s1)

I like orange

In [7]:
# 6.Write a code to create a list with numbers 1 to 5 and print it
r1 = 1
r2 = 5

li = list(range(r1,r2))
print(li)

[1, 2, 3, 4]

In [9]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list =[1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [12]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [13]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [14]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [15]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [16]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
second_to_last_color = colors[-2]
print(second_to_last_color)

blue

In [17]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
numbers = (10, 20, 5, 15)
minimum_number = min(numbers)
print(f"The minimum number in the tuple is: {minimum_number}")

The minimum number in the tuple is: 5

In [ ]:
#14.

In [18]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "kiwi")
if "kiwi"in fruits:
    print("kiwi is present")

kiwi is present

In [19]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [21]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(f"Set after clearing: {my_set}")

Set after clearing: set()

In [22]:
#18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [23]:
#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [26]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set_operator = set1 & set2
print(f"Intersection: {intersection_set_operator}")

Intersection: {2, 3}

In [28]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it

employee = {
    "name": "Rohit",
    "age": 30,
    "city": "Mumbai"
}

# Print the dictionary
print(employee)

{'name': 'Rohit', 'age': 30, 'city': 'Mumbai'}

In [30]:
#22 .Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
x = {"name": "John", "age": 25}
x["city"] = "New York"

print(x)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [31]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

In [32]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [33]:
#25 .Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict_detail = {"name": "Alice",'city': 'Paris'}
print("city" in dict_detail)

True

In [34]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all

my_list = [1, 2, 3, "apple", "banana"]
my_tuple = (10, 20, 30, "orange", "grape")
my_dictionary = {"name": "Alice", "age": 30, "city": "New York"}
print("My List:", my_list)
print("My Tuple:", my_tuple)
print("My Dictionary:", my_dictionary)

My List: [1, 2, 3, 'apple', 'banana']
My Tuple: (10, 20, 30, 'orange', 'grape')
My Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [ ]:
#27.

In [38]:
#28. Write a code to create a list with strings and print the element at the third index

fruits3 = ['apple', 'mango', 'grapes','oranges']
print('fruits1[2] =', fruits3[3])

fruits1[2] = oranges

In [40]:
#29. Write a code to combine two dictionaries into one and print the result
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4, 'b': 5}

combine_dict = dict1.copy()
combine_dict.update(dict2)
print(combine_dict)

{'a': 1, 'b': 5, 'c': 3, 'd': 4}

In [41]:
#30 .Write a code to convert a list of strings into a set
my_list_of_strings = ["apple", "banana", "orange", "apple", "grape"]
my_set_of_strings = set(my_list_of_strings)
print(my_set_of_strings)

{'banana', 'apple', 'orange', 'grape'}